!!!
%html
	%head
		%meta{:charset=>"utf-8"}
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

		%title Site-falx
		%link{:href => "https://fonts.googleapis.com/css?family=Quicksand", :rel => "stylesheet"}

		%link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
		
	%body
		.main
			.topnav
				%a
					%img{:src=>'../site flax/img/back-button.png', :alt=>'next'}

				%a
					%img{:src=>'../site flax/img/add-button.png', :alt=>'add'}

			.profil
				%img{:src=>'../site flax/img/profil-picture.png', :alt=>'photo'}
				%h1.profil-h1 maya van someren
				%h2.profil-h2 antverp, belgium

			%ul.statistic
				%li
					%div.statistic-li.green.text-align
						%p.statistic-let 8.7K
					%p.statistic-text followers

				%li
					%div.statistic-li.blue.text-align
						%p.statistic-let 626
					%p.statistic-text following

				%li
					%div.statistic-li.navy.text-align
						%p.statistic-let 319
					%p.statistic-text photos

			%div.icons
				%a.icon.one{:src=>'#', :alt=>'picture'}
				%a.icon.two{:src=>'#', :alt=>'picture'}
				%a.icon.three{:src=>'#', :alt=>'picture'}
				%a.icon.four{:src=>'#', :alt=>'picture'}

			%div.footernav
				%a.footernav-item.el1{:src=>'http://mynamenata.github.io/index.html', :alt=>'1'}
				%a.footernav-item.el2{:src=>'#', :alt=>'2'}
				%a.footernav-item.el3{:src=>'#', :alt=>'1'}
				%a.footernav-item.el4{:src=>'#', :alt=>'1'}
				%a.footernav-item.el5{:src=>'#', :alt=>'1'}
				%a.footernav-item.el6{:src=>'#', :alt=>'1'}
				%a.footernav-item.el7{:src=>'#', :alt=>'1'}